# Dependências
node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.vs/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Build
dist/
build/
*.log

# C# / .NET
bin/
obj/
*.user
*.suo
*.cache
.vs/
*.dll
*.pdb

# Arquivos temporários
*.tmp
*.temp
~$*
